body, html {
	height: 100%;
}

html {
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth; /* плавная прокрутка */
}

body {
	
	position: relative;
	overflow-x: hidden;

	font-family: "Nunito", sans-serif; /* all text */
	font-size: 12px;
	font-weight: 400; 
	line-height: 130%;
	color: #000000; /* default color */
	background-color: #f9f9f9;
}

.wrapper-height {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1; /* растягивает пространство между хэдером и футером */
}

a {
	text-decoration: unset;
	color: inherit;
	transition: all 0.75s;
}

.wrapper {
	max-width: 320px;
	margin: 0 auto;
	padding: 0 10px;
}

svg {
	display: block;
}

button {
	padding: 0;
	font-family: "Nunito", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
	background-color: transparent;
	border: unset;
	outline: unset;
	cursor: pointer;
	transition: background-color 0.75s;
}

input {
	padding: 0;
	border: none;
	outline: none;
}
	
/* ↓↓↓ MOBILE FIRST ↓↓↓ */

/* ↓↓↓ HEADER ↓↓↓ */

.header {
	margin-bottom: 30px;
	padding: 25px 0 30px;
	text-align: center;
	background-image: url("data:image/svg+xml,%3Csvg id='header__background' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23ffab08' /%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 610px;
}

.header__logo {
	width: 150px;
	height: 29px;
	margin: 0 auto 24px;
	color: #ffffff;
}

.header__title {
	margin-bottom: 16px;
	font-size: 30px;
	font-weight: 800;
	line-height: 120%;
}

.header__title-top-part {
	font-weight: 800;
	color: #ffffff;
}

.header__title-bottom-part {
	font-weight: 800;
	color: #ff5c00;
}

.header__subtitle {
	margin-bottom: 20px;
	font-weight: 600;
	color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ↑↑↑ HEADER ↑↑↑ */



.main {
	margin-bottom: 80px;
	background-color: #f9f9f9;
}



/* ↓↓↓ NAVIGATION ↓↓↓ */

.navigation {
	margin-bottom: 30px;
}

.wrapper.wrapper--navigation {
	padding-right: 0;
}

.navigation__list {
	display: flex;
	gap: 8px;
	overflow-x: auto;
	overflow-y: hidden;
}

.navigation__item {
	
}

.navigation__bttn {
	padding: 7px 8px 7px 40px;
	white-space: nowrap;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: left 8px center;
	background-size: 24px 24px;
	border: 1px solid transparent;
	border-radius: 50px;
}

.navigation__bttn--active {
	background-color: #ffab08;
	border: 1px solid transparent;
	outline: none;
	pointer-events: none;
}

.navigation__bttn:hover {
	border: 1px solid #f86310;
}

.navigation__bttn--active:hover {
	border: none;
}

.navigation__bttn:focus {
	outline: 1px solid #ffab08;
	outline-offset: -1px;
}

.navigation__bttn--active:focus {
	outline: none;
}

.navigation__bttn--burgers {
	background-image: url("../images/navigation/001-burgers.png");
}

.navigation__bttn--snacks {
	background-image: url("../images/navigation/002-snacks.png");
}

.navigation__bttn--hotdogs {
	background-image: url("../images/navigation/003-hotdogs.png");
}

.navigation__bttn--combo {
	background-image: url("../images/navigation/004-combo.png");
}

.navigation__bttn--burrito {
	background-image: url("../images/navigation/005-burrito.png");
}

.navigation__bttn--pizza {
	background-image: url("../images/navigation/006-pizza.png");
}

.navigation__bttn--wok {
	background-image: url("../images/navigation/007-wok.png");
}

.navigation__bttn--desserts {
	background-image: url("../images/navigation/008-desserts.png");
}

.navigation__bttn--sauces {
	background-image: url("../images/navigation/009-sauces.png");
}

/* ↑↑↑ NAVIGATION ↑↑↑ */



/* ↓↓↓ CATALOG ↓↓↓ */

.catalog-content {
	display: none;
}

.catalog-content.catalog-content--active {
	display: block;
}

.catalog-title {
	margin-bottom: 16px;
	font-size: 28px;
	font-weight: 600;
	line-height: 120%;
}

.catalog-content__inner {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.catalog-content__item {
	flex-basis: calc((100% - 10px) / 2);
	padding: 4px;
	background-color: #ffffff;
	border-radius: 12px;
}

.catalog-content__item-image {
	display: block;
	width: 100%;
	height: 120px;
	margin-bottom: 10px;
	border-radius: 8px;
	object-fit: cover;
	transition: all 0.75s;
}

.catalog-content__item-image:hover {
	transform: scale(1.15);
	filter: brightness(1.5);
}

.catalog-content__item-price {
	margin-bottom: 5px;
	line-height: 100%;
	font-size: 0;
}

.catalog-content__item-price-num {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
}

.catalog-content__item-price-currency {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
}

.catalog-content__item-link-button-title {
	line-height: 130%;
	transition: all 0.75s;
}

.catalog-content__item-link-button-title:hover {
	transform: scale(1.25) translateX(10%) translateY(10%);
}

.catalog-content__item-link-button-image {
	display: inline-block;
	height: 120px;
	margin-bottom: 16px;
	overflow: hidden;
}

.catalog-content__item-name {
	margin-bottom: 15px;
	transition: all 0.75s;
}

.catalog-content__item-name:hover {
	color: #ffab08;
}

.catalog-content__item-weight {
	margin-bottom: 7px;
	font-size: 0;
	color: #b1b1b1;
}

.catalog-content__item-weight-num {
	display: inline-block;
	font-size: 12px;
}

.catalog-content__item-weight-measure {
	display: inline-block;
	font-size: 12px;
}

.catalog-content__item-button {
	width: 100%;
	padding: 10px;
	background-color: #f2f2f3;
	border-radius: 8px;
	transition: all 0.75s;
}

.catalog-content__item-button:hover {
	background-color: #ffab08;
	color: #ffffff;
}


/* ↑↑↑ CATALOG ↑↑↑ */



/* ↓↓↓ CART ↓↓↓ */

.cart {
	margin-bottom: 30px;
	padding: 16px 10px;
	background-color: #ffffff;
	border-radius: 12px;
}

.cart .cart-content {
	position: relative;
	display: none;
}

.cart-content__empty-line {
	margin-top: 12px;
}

.cart.cart--active .cart-content {
	display: block;
}

.cart-title__box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-title {
	font-size: 16px;
	font-weight: 600;
	line-height: 100%;
}

.cart-title__box-total-count {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 16px;
	font-size: 10px;
	line-height: normal;
	background-color: #f2f2f3;
	border-radius: 6px;
}

.cart-content__full {
	position: absolute;
	top: 0;
	left: -10px;
	width: 300px;
	margin-top: 8px;
	padding: 0 10px 16px;
	background-color: #ffffff;
	border-radius: 0 0 12px 12px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16); 
}

.cart-content__item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 12px 0;
	border-bottom: 1px solid #f2f2f3;
}

.cart-content__item:first-child {
	border-top: 1px solid #f2f2f3;
}

.cart-content__item-box {
	margin-left: 5px;
	margin-right: auto;
}

.cart-content__item-image {
	width: 64px;
	height: 52px;
	border-radius: 8px;
	background: lightgray 0px -25.049px / 100% 188.159% no-repeat;
}

.cart-content__item-weight {
	margin-bottom: 5px;
	font-size: 0;
	line-height: normal;
	color: #b1b1b1;
}

.cart-content__item-weight-num {
	display: inline-block;
	font-size: 12px;
}

.cart-content__item-weight-measure {
	display: inline-block;
	font-size: 12px;
}

.cart-content__item-price {
	font-size: 0;
	line-height: normal;
}

.cart-content__item-price-num {
	display: inline-block;
	font-size: 12px;
}

.cart-content__item-price-currency {
	display: inline-block;
	font-size: 12px;
}

.cart-content__item-counter {
	display: flex;
	align-self: center;
	height: 30px;
	background-color: #f2f2f3;
	border-radius: 8px;	
}

.cart-content__item-counter-num {
	max-width: 30px;
	text-align: center;
	font-size: 12px;
	background-color: transparent;
	border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none; /* выравнивание по центру */
	margin: 0;
}

input[type=number] {
 	-moz-appearance: textfield;
}

.cart-content__item-counter-bttn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	transition: all 0.5s;
}

.cart-content__item-counter-bttn:hover {
	font-weight: 800;
	color: #ffab08;
}

.cart-content__item-close {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	top: 0;
    right: 5px;
	font-size: 18px;
	line-height: 18px;
	opacity: 0.45;
	cursor: pointer;
	transition: all 0.5s;
}

.cart-content__item:hover .cart-content__item-close {
	display: flex;
}

.cart-content__item-close:hover {
	color: #ff7020;
	opacity: 1;
}

.cart-content__total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	margin-bottom: 20px;
}


.cart-content__button-order {
	width: 100%;
	padding: 12px;
	margin-bottom: 12px;
	color: #ffffff;
	background-color: #ff7020; 
	border-radius: 8px;
}

.cart-content__button-order:hover {
	background-color: #ffab08;
}

.cart-content__delivery-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 10px;
	line-height: normal;
}

.cart-content__delivery {
	position: relative;
	transform: translateX(32px);
}

.cart-content__delivery::before {
	position: absolute;
	top: 50%;
	left: -32px;
	transform: translateY(-50%);
	content: "";
	background-image: url("../images/cart/delivery.png");
	width: 24px;
	height: 24px;
}

.cart-minimize {
	font-size: 10px;
	color: #b1b1b1;
	transition: all 0.75s;
}

.cart-minimize:hover {
	color: #000000;
}

/* ↑↑↑ CART ↑↑↑ */



/* ↓↓↓ FOOTER ↓↓↓ */

.footer {
	padding: 25px 0;
	background-color: #ffffff;
}

.footer__logo {
	width: 196px;
	height: 38px;
	margin-bottom: 25px;
	color: #ff7020;
	transform: translateX(-14px);
}

.footer__inner-top {
	font-size: 18px;
	line-height: 100%;
}

.footer__phone-wrapper {
	margin-bottom: 25px;
}

.footer__phone-wrapper-box {
	display: flex;
	align-items: center;
	gap: 5px;
}

.footer__phone-wrapper-link {
	font-size: 12px;
	line-height: 130%;
	border-bottom: 1px solid transparent;
	transition: all 0.75s;
}

.footer__phone-wrapper-link:hover {
	color: #ff7020;
	border-bottom: 1px solid #ff7020;
}

.footer__socials-wrapper {
	margin-bottom: 35px;
}

.footer__socials-wrapper-list {
	display: flex;
	gap: 15px;
}

.footer__socials-wrapper-list-link svg path {
	transition: all 0.75s;
}

.footer__socials-wrapper-list-link:hover svg path {
	fill: #ffab08;
}

.footer__wrapper-text  {
	margin-bottom: 10px;
}

.footer__inner-bottom {
	line-height: normal;
}

.copyright {
	margin-bottom: 5px;
}

.design-link {
	border-bottom: 1px solid transparent;
	transition: all 0.75s;
}

.design-link:hover {
	color: #ff7020;
	border-bottom: 1px solid #ff7020;
}

/* ↑↑↑ FOOTER ↑↑↑ */



/* ↓↓↓ MODAL ↓↓↓ */

.modal {
	position: fixed;
	inset: 0;
	display: none;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.modal--active {
	display: flex;
}

.modal__main {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	height: auto;
	margin: auto;
	padding: 30px 10px;
	background-color: #ffffff;
	cursor: default;
}

.modal__close {
    position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #b1b1b1;
	outline: 1px solid transparent;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.75s;
}

.modal__close:hover {
	color: #f86310;
	outline: 1px solid #f86310;
}

/* ↓ MODAL PRODUCT ↓ */

.modal--product {
	display: none;
	/* !!! у modal display: none !!! */
}

.modal__title {
	margin-bottom: 12px;
	font-size: 28px;
	font-weight: 600;
	line-height: 120%;
}

.modal__top {
	margin-bottom: auto; /* доп-но менятся скриптом */
}

.modal__content-image {
	max-height: 232px;
	width: 100%;
	margin-bottom: 15px;
	object-fit: cover;
}

.modal__content-text {
	margin-bottom: 10px;
}

.modal__content-constitution {
	font-size: 10px;
}

.modal__content-constitution-header {
	margin-bottom: 5px;
	font-weight: 600;
}

.modal__content-constitution-list {
	margin-bottom: 5px;
}

.modal__content-constitution-list-item {
	margin-bottom: 2px;
}

.modal__content-constitution-calories {
	display: flex;
	color: #b1b1b1;
}

.modal__content-constitution-weight-wrapper {
	font-size: 0;
}

.modal__content-constitution-weight-num {
	font-size: 10px;
}

.modal__content-constitution-weight-measures {
	font-size: 10px;
}

.modal__content-constitution-calories-wrapper {
	font-size: 0;
}

.modal__content-constitution-calories-num {
	font-size: 10px;
}

.modal__content-constitution-calories-measures {
	font-size: 10px;
}

.modal__buttons {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	margin-bottom: 15px;
}

.modal__button {
	width: 100%;
    padding: 10px;
	color: #ffffff;
    background-color: #ff7020;
    border-radius: 8px;
    transition: all 0.75s;
}

.modal__button:hover {
	background-color: #f86310;
}

.modal__counter {
	display: flex;
	align-self: center;
	height: 32px;
	background-color: #f2f2f3;
	border-radius: 8px;	
}

.modal__counter-counter-num {
	max-width: 30px;
	text-align: center;
	font-size: 12px;
	background-color: transparent;
	border: none;
}

.modal__counter-bttn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	transition: all 0.5s;
}

.modal__counter-bttn:hover {
	font-weight: 800;
	color: #ffab08;
}

.modal__price {
	text-align: right;
	font-size: 0;
	font-weight: 600;
}

.modal__price-num {
	display: inline-block;
	font-size: 16px;
}

.modal__price-currency {
	display: inline-block;
	font-size: 16px;
}

/* ↓ MODAL DELIVERY ↓ */

.modal--delivery {
	display: none;
}

.modal--delivery .modal__main {
	display: flex;
	flex-direction: row;
}

.modal__title--delivery {
	margin-bottom: 18px;
	font-size: 16px;
	line-height: 100%;
}

.modal__main-wrapper {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.modal__main-wrapper.modal__main-wrapper--decorative {
	display: none;
}

.modal__form {
	flex-grow: 1;
}

.modal__form-fieldset {
	margin-bottom: 25px;
}

.modal__form-fieldset--address {
	visibility: hidden;
}

.modal__form-input {
	width: 100%;
	padding: 12px;
	margin-bottom: 10px;
	font-family: "Nunito", sans-serif;
	font-size: 10px;
	border-radius: 12px;
	border: 1px solid #F2F2F3;
	transition: all 0.75s;
}

.modal__form-input::placeholder {
	color: #b1b1b1;
}

.modal__form-input:hover {
	border: 1px solid #ffab08; 
}

.modal__form-input:focus {
	border: 1px solid #ffab08; 
}

.modal__form-input[type="radio"] {
	width: auto;
	margin-bottom: 0;
}

.modal__form-input-wrapper {
	display: flex;
	gap: 10px;
}

.modal__form-input--half {
	flex-basis: 50%;
}

.modal__form-input[type="radio"] {
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.modal__form-label {
	display: flex;
	align-items: center;
	max-width: 50%;
	margin-bottom: 10px;
}

.modal__form-label-text {
	position: relative;
	margin-left: 22px;
	font-size: 10px;
	line-height: normal; 
}

.modal__form-label-text::before {
	position: absolute;
	left: -22px;
	top: 50%;
	transform: translateY(-50%);
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-image: url("../images/modal/unchecked.svg");
}

.modal__form-input[type="radio"]:checked + .modal__form-label-text::before {
	background-image: url("../images/modal/checked.svg");
}

/* ↑↑↑ MODAL ↑↑↑ */



/* ↓↓↓ ADAPTING ↓↓↓ */

@media (min-width: 375px) {
	
	.wrapper {
		max-width: 375px;
	}
	
	/* ↓ CART ↓ */
	
	.cart-content__full {
		width: 355px;
	}
	
	/* ↑ CART ↑ */
}
/* ↑↑↑ 375px ↑↑↑ */


@media (min-width: 414px) {
	
	.wrapper {
		max-width: 414px;
	}
	
	/* ↓ CART ↓ */
	
	.cart-content__full {
		width: 394px;
	}
	
	/* ↑ CART ↑ */
}
/* ↑↑↑ 414px ↑↑↑ */


@media (min-width: 425px) {
	
	.wrapper {
		max-width: 425px;
	}
	
	/* ↓ HEADER ↓ */
	
	.header {
		background-size: 1270px;
	}

	/* ↑ HEADER ↑ */
	
	/* ↓ CART ↓ */
	
	.cart-content__full {
		width: 405px;
	}
	
	/* ↑ CART ↑ */
}
/* ↑↑↑ 425px ↑↑↑ */


@media (min-width: 540px) {
	/* ↓ PRESENTATION ↓ */
		
	
	/* ↑ PRESENTATION ↑ */
}
/* ↑↑↑ 540px ↑↑↑ */


@media (min-width: 768px) {
	
	.wrapper {
		max-width: 768px;
		padding: 0 64px;
	}

	/* ↓ HEADER ↓ */
	
	.header {
		padding: 25px 0 45px;
		text-align: unset;
		background-size: 2540px;
	}
	
	.header__content {
		display: flex;
		gap: 10px;
		flex-direction: row-reverse;
		justify-content: center;
	}
	
	.header__title-box {
		padding-top: 25px;
	}
	
	.header__title {
		margin-bottom: 25px;
		font-size: 36px;
	}
	
	/* ↑ HEADER ↑ */
	
	
	/* ↓ NAVIGATION ↓ */
	
	.navigation__list {
		gap: 12px;
	}
	
	/* ↑  NAVIGATION ↑ */
	
	
	/* ↓ CART ↓ */
	
	.cart {
		max-width: 145px;
	}
	
	.cart.cart--active {
		max-width: 300px;
	}
	
	.cart-content__full {
		width: 300px;
	}
	
	/* ↑ CART ↑ */
	
	
	/* ↓ CATALOG ↓ */
	
	.catalog-content__inner {
		gap: 20px;
	}
	
	.catalog-content__item {
		flex-basis: calc((100% - 3 * 20px) / 4);
	}
	
	/* ↑ CATALOG ↑ */
	
	
	/* ↓ FOOTER ↓ */
	
	.footer__logo {
		margin-bottom: 35px;
	}
	
	.footer__inner-top-content {
		display: flex;
	}
	
	.footer__phone-wrapper {
		flex-basis: 50%;
	}
	
	.footer__socials-wrapper {
		flex-basis: 50%;
	}
	
	.footer__phone-wrapper {
		margin-bottom: unset;
	}
	
	.footer__socials-wrapper {
		margin-bottom: unset;
	}
	
	.footer__inner-top-content {
		margin-bottom: 40px;
	}
	
	/* ↑ FOOTER ↑ */
	
	
	/* ↓ MODAL ↓ */
	
	.modal__main {
		width: 70%;
		max-width: 700px;
		min-height: unset;
		padding: 16px 16px 24px;
		border-radius: 24px;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10); 
	}
	
	.modal__title {
		margin-bottom: 15px;
	}
	
	.modal__content {
		display: flex;
		gap: 10px;
		align-items: center;
	}
	
	.modal__top {
		margin-bottom: 25px;
	}
	
	.modal__content-image {
		width: 225px;
		margin-bottom: unset;
		border-radius: 16px; 
	}
	
	.modal__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.modal__buttons {
		margin-bottom: unset;
	}
	
	.modal__price {
		display: flex;
	}
	
	.modal__button {
		width: 220px;
	}
	
	.modal__close {
		top: 16px;	
		right: 16px;
	}
	
	.modal--delivery .modal__main {
		padding: 16px 16px 30px;
	}
	
	.modal__main-wrapper {
		flex-basis: 300px;
	}
	
	.modal--delivery .modal__button {
		width: auto;
	}
	
	/* ↑ MODAL ↑ */
}
/* ↑↑↑ 768px ↑↑↑ */


@media (min-width: 1024px) {
		
	body {
		font-size: 16px;
	}
	
	.wrapper {
		max-width: 1024px;
		padding: 0 32px;
	}
	
	/* ↓ HEADER ↓ */
	
	.header {
		margin-bottom: 40px;
		padding: 25px 0 65px;
		background-size: 2880px;
	}
	
	.header__image {
		width: 326px;
		height: 326px;
	}
	
	.header__title {
		margin-bottom: 50px;
		font-size: 50px;
	}
	
	/* ↑  HEADER ↑ */
	
	
	/* ↓ NAVIGATION ↓ */
	
	.navigation {
		margin-bottom: 50px;
	}
	
	.navigation__list {
		gap: 24px;
	}
	
	/* ↑  NAVIGATION ↑ */
	
	
	.catalog {
		display: flex;
		gap: 30px;
	}
	
	
	/* ↓ CART ↓ */
	
	.cart {
		align-self: flex-start;
		margin-top: 72px;
		padding: 24px 16px;
		min-width: 300px;
		border-radius: 18px;
	}
	
	.cart .cart-content {
		display: block;
	}
	
	.cart-content__full {
		position: unset;
		width: 100%;
		margin-top: 12px;
		padding: unset;
		background-color: #ffffff;
		border-radius: 0 0 18px 18px;
		box-shadow: unset;
	}

	.cart-title {
		font-size: 24px;
	}
	
	.cart-title__box-total-count {
		font-size: 12px;
	}
	
	.cart-content__item {
		padding: 15px 0;
	}
	
	.cart-content__item-name {
		font-size: 12px;
		line-height: normal;
	}
	
	.cart-content__item-counter {
		height: 40px;
	}
	
	.cart-content__item-counter-bttn--minus {
		padding: 12px 8px 12px 12px;
	}

	.cart-content__item-counter-bttn--plus {
		padding: 12px 12px 12px 8px;
	}
	
	.cart-content__item-counter-num {
		font-size: 16px;
	}
	
	.cart-content__total {
		margin-top: 15px;
		margin-bottom: 24px;
	}
	
	.cart-content__button-order {
		font-size: 16px;
		border-radius: 12px;
	}
	
	.cart-content__delivery {
		font-size: 12px;
	}
	
	.cart-minimize {
		display: none;
	}
	
	/* ↑  CART ↑ */
	
	
	/* ↓ CATALOG ↓ */
	
	.catalog-content {
		flex-basis: calc(100% - 300px - 30px);
	}
	
	.catalog-title {
		margin-bottom: 24px;
		font-size: 40px;
	}
	
	.catalog-content__inner {
		gap: 30px;
	}

	.catalog-content__item {
		flex-basis: calc((100% - 30px) / 2);
		padding: 12px;
		border-radius: 18px;
	}
	
	.catalog-content__item-link-button-image {
		height: 220px;
		margin-bottom: 24px;
	}
	
	.catalog-content__item-image {
		height: 220px;
		margin-bottom: 16px;
		border-radius: 12px;
	}
	
	.catalog-content__item-price {
		margin-bottom: 10px;	
	}
	
	.catalog-content__item-price-num {
		font-size: 24px;
	}
	
	.catalog-content__item-price-currency {
		font-size: 24px;
	}
	
	.catalog-content__item-name {
		margin-bottom: 30px;
		font-size: 16px;
	}
	
	.catalog-content__item-weight {
		margin-bottom: 10px;
	}

	.catalog-content__item-weight-num {
		font-size: 16px;
	}

	.catalog-content__item-weight-measure {
		font-size: 16px;
	}
	
	.catalog-content__item-button {
		font-size: 16px;
		border-radius: 12px;
	}
	
	/* ↑  CATALOG ↑ */
	
	
	/* ↓ FOOTER ↓ */
	
	.footer__logo {
		margin-bottom: 0;
		width: 300px;
		height: 58px;
		transform: translateX(-20px);
	}
	
	.footer__inner-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
		font-size: 24px;
	}
	
	.footer__inner-top-content {
		display: flex;
		gap: 50px;
		margin-bottom: unset;
	}
	
	.footer__phone-wrapper-link {
		font-size: 16px;
	}
	
	.footer__wrapper-text {
		margin-bottom: 25px;
	}
	
	.footer__phone-wrapper-text {
		min-width: calc(100% + 50px);
	}
	
	/* ↑ FOOTER ↑ */
	
	
	/* ↓ MODAL ↓ */
	
	.modal__main {
		padding: 24px 24px 36px;
		border-radius: 24px;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10); 
	}
	
	.modal__title {
		margin-bottom: 24px;
		font-size: 40px;
	}
	
	.modal__content {
		gap: 15px;
	}
	
	.modal__top {
		margin-bottom: 40px;
	}
	
	.modal__content-image {
		width: 275px;
	}
	
	.modal__content-constitution {
		font-size: 12px;
	}
	
	.modal__content-constitution-weight-num {
		font-size: 12px;
	}
	
	.modal__content-constitution-weight-measures {
		font-size: 12px;
	}
	
	.modal__content-constitution-calories-num {
		font-size: 12px;
	}
	
	.modal__content-constitution-calories-measures {
		font-size: 12px;
	}
	
	.modal__button {
		padding: 12px;
		font-size: 16px;
	}
	
	.modal__counter {
		height: 40px;
		font-size: 16px;
	}
	
	.modal__counter--minus {
		padding: 12px 8px 12px 12px;
	}
	
	.modal__counter--plus {
		padding: 12px 12px 12px 8px;
	}
	
	.modal__counter-counter-num {
		font-size: 16px;
	}
	
	.modal__buttons {
		gap: 15px;
	}
	
	.modal__price-num {
		font-size: 24px;
	}
	
	.modal__price-currency {
		font-size: 24px;
	}
	
	.modal__close {
		top: 24px;	
		right: 24px;
	}
	
	.modal--delivery .modal__main {
		padding: 0;
	}
	
	.modal__main-wrapper {
		padding: 24px;
	}
	
	.modal__main-wrapper.modal__main-wrapper--decorative {
		display: flex;
		justify-content: center;
		padding: 0;
		align-items: center;
		background-color: #ffab08;
		border-radius: 24px 0 0 24px;
	}
	
	.modal__main-wrapper {
		flex-basis: 50%;
	}
	
	.modal__title--delivery {
		margin-bottom: 15px;
		font-size: 24px;
	}
	
	.modal__form-fieldset {
		margin-bottom: 15px;
	}
	
	.modal__form-input {
		font-size: 12px;
	}
	
	.modal__form-label-text {
		font-size: 12px;
	}
	
	.modal--delivery .modal__button {
		margin-top: 15px;
	}

	/* ↑ MODAL ↑ */
}
/* ↑↑↑ 1024px ↑↑↑ */


@media (min-width: 1280px) {
	
	.wrapper {
		max-width: 1280px;
	}
	
	/* ↓ ADVANTAGES ↓ */

	
	/* ↑ LEASING ↑ */
}
/* ↑↑↑ 1280px ↑↑↑ */


@media (min-width: 1440px) {
	
	.wrapper {
		max-width: 1440px;
		padding: 0 75px;
	}
	
	/* ↓ HEADER ↓ */
	
	.header__content {
		gap: 20px;
	}
		
	/* ↑ HEADER ↑ */
	
	
	/* ↓ CATALOG ↓ */
	
	.catalog-content__inner {
		gap: 30px;
	}
	
	.catalog-content__item {
		flex-basis: calc((100% - 2 * 30px) / 3);
	}
	
	/* ↑ CATALOG ↑ */
}
/* ↑↑↑ 1440px ↑↑↑ */


@media (min-width: 1920px) {

}
/* ↑↑↑ 1920px ↑↑↑ */


@media (min-width: 2560px) {
	/* ↓ HEADER ↓ */
	
	.header {
		background-size: 5000px;
	}
	
	
	/* ↑ HEADER ↑ */
}
/* ↑↑↑ 2560px ↑↑↑ */